* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #4CAF50;
    color: white;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.intro {
    font-size: 1.2rem;
}

section#methods {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.method {
    background-color: white;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.method h2 {
    font-size: 1.8rem;
    color: #333;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}

.details {
    margin-top: 10px;
    font-size: 1rem;
    color: #666;
}

.method-image {
    width: 100%;
    height: auto;
    margin-top: 15px;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: #333;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}
.img1 {
    width: 1250px;
    padding: 12px;
    height: 500px;
}
.img2 {
    width: 1250px;
    padding: 12px;
}
.img3 {
    width: 1250px;
    padding: 12px;
    height: 300px;
}
